@import 'animation';

$note_width: 400px;

$black: #364f6b;
$dark_black: #293c52;

$primary: #fc5185;
$light_primary: #fd9dba;

$secondary: #43dde6;
$light_secondary: #85f4fa;

$white: #f0f0f0;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection {
	background-color: $secondary;
	color: $white;
	font-weight: bold;
}

// default classes

.none {
	display: none !important;
}

.color {
	color: $secondary !important;
	font-weight: 500 !important;
}

.title {
	font-size: 2rem !important;
	margin: 15px 0 !important;
}

.desc {
	color: rgba($color: $dark_black, $alpha: .75) !important;
	font-weight: 400 !important;
}

.btn_ {
	outline: none !important;
	user-select: none;
	cursor: pointer;
	padding: 10px 35px;
	font-size: 1rem;
	border: none;
	background-color: $primary;
	color: $white;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 5px 5px 20px rgba($color: $primary, $alpha: .25);

	transition: all .2s ease-in-out;

	&:hover {
		background-color: $light_primary;
	}
}

//

body {
	height: 100vh;

	font-family: 'Fira Sans', sans-serif !important;

	background: #ece9e6;
	background: -webkit-linear-gradient(to left, #ffffff, #ece9e6);
	background: linear-gradient(to left, #ffffff, #ece9e6);

	overflow-x: hidden;
}

#container {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	.create_note_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 50px;

		#create_note {
			cursor: pointer;
			user-select: none;

			width: 50px;
			height: 50px;

			min-width: 50px;
			min-height: 50px;
			background-color: $secondary;

			display: flex;
			justify-content: center;
			align-items: center;

			margin-bottom: 10px;
			box-shadow: 2px 2px 15px rgba($color: $secondary, $alpha: .5);
			border-radius: 100px;
			transition: background-color .2s ease-in-out;

			&:hover {
				background-color: $light_secondary;

				& + p.desc {
					color: $light_secondary;
				}
			}
		}

		p.desc {
			transition: all .3s ease-in-out;
			color: $secondary !important;

			user-select: none;
		}
	}

	button#clear {
		margin-bottom: 50px;
	}

	.content {
		width: 100%;
	}

	#note_container {
		width: 100%;
		height: auto;

		display: grid;
		grid-template-columns: repeat(auto-fill, $note_width);
		justify-content: center;
		align-items: start;
		gap: 50px;
		column-gap: 100px;
	}

	.note_box {
		position: relative;

		max-width: $note_width;
		height: auto;

		box-shadow: 2px 2px 4px rgba($color: $primary, $alpha: .25);

		transition: all .2s ease-in-out;
		animation: slide .5s ease-in-out;

		.close_icon {
			cursor: pointer;

			position: absolute;
			top: 50%;
			right: 5px;

			transform: translate(-50%, -50%);
		}

		.note_title {
			position: relative;

			width: 100%;
			height: auto;
			background-color: $primary;

			display: flex;
			padding: 0 15px;

			box-shadow: 0 5px 5px rgba($color: $primary, $alpha: .15);

			.editable_title {
				max-width: 80%;
				width: 80%;

				font-size: 1.5rem;
				font-weight: 500;

				color: $white;

				letter-spacing: 1px;
				margin: 15px 0;
				outline: none;
				line-height: 30px;
			}
		}

		.note_paragraph {
			padding: 15px;
			background: $white;

			// input
			.editable_paragraph {
				width: 100%;
				height: auto;
				min-height: 120px;

				font-size: 1rem;
				font-family: 'Fira Sans', sans-serif !important;

				border: none;
				outline: none;

				word-spacing: 3px !important;
				letter-spacing: .25px;
				line-height: 25px;
				background-color: transparent;
				font-weight: 400;

				color: rgba($color: $dark_black, $alpha: .75);

				outline: none;
				resize: none;
				overflow: hidden;
			}
		}
	}
}

#advice {
	user-select: none;

	text-align: center;

	color: rgba($color: $dark_black, $alpha: .5);

	display: none;

	animation: opacity .8s ease-in-out;
}

// clear confirmation

#clear_confirmation {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;

	.confirmation_box {
		width: 100%;
		z-index: 2;
		background: $white;
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.confirmation_content {
			animation-delay: .5s;

			h2 {
				color: rgba($color: $dark_black, $alpha: .85);
			}
		}

		.button_container {
			width: 100%;
			margin-top: 30px;
			display: flex;
			justify-content: space-around;
			align-items: center;

			button {
				transition: .3s;

				&:hover {
					background-color: $secondary;
				}
			}
		}
	}

	.overlay {
		position: absolute;
		width: 100%;
		height: 100vh;
		background: rgba($color: $black, $alpha: .5);
	}
}

// message
#alert {
	visibility: hidden;

	position: absolute;
	user-select: none;

	min-width: 250px;

	background-color: $primary;
	color: $white;
	border-radius: 5px 0 0 5px;
	padding: 16px;
	z-index: 1;
	right: 0;
	top: 30px;
	box-shadow: 2px 2px 15px rgba($color: $primary, $alpha: .5);
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 1px;
}

#alert.show {
	visibility: visible;
	animation: fade-in .3s, fade-out .5s 2.5s;
}
